#----------------------------------------------------------
SHOW_DEBUG      = "false";
OUTPUT_FILE_EXT = ".md";
OUTPUT_DIR      = "../markdown/";
BACKEND_WRITER  = "MD";
STYLESHEET      = "style.css";
IMAGE_DIR       = "../images/";
SITE_URL        = "https://github.com/CharlesCarley/MdDox";
SEARCH_DIRS     = "Source,Tools";
#----------------------------------------------------------
PROJECT_ROOT    = "MdDox";
PROJECT_TITLE   = "MdDox";
INDEX_TITLE     = "Index";
NAMESPACE_TITLE = "Namespace Index";
DIRECTORY_TITLE = "Directory Index";
PAGE_TITLE      = "Page Index";
CLASS_TITLE     = "Class Index";
#----------------------------------------------------------
DOT_CONFIG      = "../colors.cfg";
# This should be internal. For now it is 
# going through invokeDot.py
DOT_EXECUTABLE  = "TODO";
